WEBHOOK_SECRET=<openssl rand -hex 32>
NEWT_ID=<von Pangolin Dashboard>
NEWT_SECRET=<von Pangolin Dashboard>
OAUTH_CLIENT_ID=<GitHub OAuth App Client ID>
OAUTH_CLIENT_SECRET=<GitHub OAuth App Client Secret>
